/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
    padding: 0, 10%, 0, 10%;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 100%;
    margin: 0 auto;
}

/*Top Section Styles*/
html{
    font-size: 62.5%;
}
nav{
    display:flex;
    justify-content:space-between;
}

.bloomlogo{
    width:15rem;
    height:auto;
}

nav a{
    margin: 0 10px;
    width: 10%;
    border: 1px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}
.buttons{
    display:flex;
}
.imgone{
    display:flex;
    justify-content:center;
}
.imageone{
    width: 100%;
    height:auto;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
    align-items: center;
}

.top-content .text-container {
    width: 50%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

h2{
    display:flex;
    justify-content: left;
    align-content:left;
    padding-bottom: 1%;  
}
.jumboabout{
    width: 90%;
}

/*Middle Section Styles*/
.about{
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;

}
.containeraboutpage{
    width:80%;
    max-width:80%;
}

.strategy .howwe .places .collaboration{
    display:flex;
    border-bottom: 2px solid #ff4b00;
    padding: 10%;

}
.strategy{
    border-bottom: 2px solid #ff4b00;
    padding: 10%;

}
.howwe{
    border-bottom: 2px solid #ff4b00;
    padding: 10%;
}
.places{
    border-bottom: 2px solid #ff4b00;
    padding: 10%;
}
.collaboration{
    border-bottom: 2px solid #ff4b00;
    padding: 10%;
}
.middlepartone{
    display:flex;
    justify-content:space-between;
    align-content: space-between;
    margin: 2%;
    width:60%
}

.middleparttwo{
    display:flex;
    justify-content:space-between;
    margin: 2%;
    width:60%
}

.middle-content h2 {
    margin-bottom: 0;
}


/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.lastwords{
    padding-bottom: 50px;
}
/*Footer Styles*/
footer {
    background-color: #ff4b00;
}

footer nav a{
    color:white;
}

/*About Page Styles*/


/*Responsive Styles*/
@media(max-width:580px){
    nav{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .bloomlogo{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .buttons{
        display:flex;
        align-items:center;
        justify-content: center;
    }
    nav a{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .top-content{
        display:flex;
        flex-direction:column;
    }

    .bottom-content{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .middlepartone{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        align-content: space-between;
        margin: 10px;
        max-width:95%
    }
    
    .middleparttwo{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 10px;
        max-width:95%
    }
}
